body * {
  display: flex;
  flex-shrink: 0; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Judson', serif; }

body {
  background: #fafafa; }

#main {
  width: 100%;
  height: 100%;
  flex-flow: column; }

a {
  color: inherit;
  text-decoration: none; }

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px; }
  .row .row {
    margin: 0 -1rem; }
    .row .row.no-margin {
      margin: 0; }
  .row.fluid {
    max-width: 100%; }

.column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 1rem; }
  .column.center-content {
    justify-content: center; }
  .column.fluid {
    padding: 0; }

.large-1 {
  width: 8.33333% !important; }

.large-offset-1 {
  margin-left: 8.33333% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-2 {
  width: 16.66667% !important; }

.large-offset-2 {
  margin-left: 16.66667% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-3 {
  width: 25% !important; }

.large-offset-3 {
  margin-left: 25% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-4 {
  width: 33.33333% !important; }

.large-offset-4 {
  margin-left: 33.33333% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-5 {
  width: 41.66667% !important; }

.large-offset-5 {
  margin-left: 41.66667% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-6 {
  width: 50% !important; }

.large-offset-6 {
  margin-left: 50% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-7 {
  width: 58.33333% !important; }

.large-offset-7 {
  margin-left: 58.33333% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-8 {
  width: 66.66667% !important; }

.large-offset-8 {
  margin-left: 66.66667% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-9 {
  width: 75% !important; }

.large-offset-9 {
  margin-left: 75% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-10 {
  width: 83.33333% !important; }

.large-offset-10 {
  margin-left: 83.33333% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-11 {
  width: 91.66667% !important; }

.large-offset-11 {
  margin-left: 91.66667% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.large-12 {
  width: 100% !important; }

.large-offset-12 {
  margin-left: 100% !important; }

.large-offset-0 {
  margin-left: 0 !important; }

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  width: 100%;
  transition: 300ms all ease; }
  .Nav_nav {
    width: 100%;
    justify-content: center; }
  .Nav_menu {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    border-bottom: 1px solid transparent; }
  .Nav_item {
    font-size: 1.25rem;
    color: #ffffff; }
    .Nav_item + .Nav_item {
      margin-left: 2rem; }
  .Nav_link {
    position: relative;
    padding: 1rem 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 200ms all ease; }
    .Nav_link::after, .Nav_link::before {
      content: '';
      display: block;
      position: absolute;
      top: 72%;
      height: 4px;
      width: 0;
      background-color: #E87A22;
      transition: 200ms all cubic-bezier(0.36, 0.07, 0.8, 1.42); }
    .Nav_link::after {
      left: 50%; }
    .Nav_link::before {
      right: 50%; }
    .Nav_link:hover::after, .Nav_link:hover::before {
      width: 50%; }
    .Nav_link:hover {
      color: #E87A22; }
  .Nav.colored {
    background: #ffffff;
    box-shadow: 0 -5px 9px 0 #040603; }
    .Nav.colored .Nav_menu {
      border-bottom: 1px solid #e4e4e4; }
    .Nav.colored .Nav_item {
      color: #040603; }

.UI_title {
  margin: 0;
  color: #040603;
  font-size: 2.8rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: .3rem; }

.UI_subtitle {
  font-size: 2rem;
  margin: 1rem 0; }

.UI_text {
  font-size: 1.2rem;
  margin: .5rem 0; }

.Landing {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url("../img/landing.jpg");
  background-size: cover; }
  .Landing::after {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(189, 27, 27, 0.6); }
  .Landing_container {
    position: relative;
    z-index: 10;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
  .Landing_title {
    margin: 0;
    color: #ffffff;
    font-size: 2.8rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: .3rem; }
  .Landing_subtitle {
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: .2rem; }

.Continue {
  flex-flow: column;
  padding: 8rem 0;
  justify-content: center;
  align-items: center; }
  .Continue_title {
    justify-content: center;
    align-items: center; }

.AboutMe {
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background: #bd1b1b; }
  .AboutMe_imageContainer {
    justify-content: center;
    align-items: center; }
  .AboutMe_image {
    width: 100%; }
    .AboutMe_image--left {
      margin-bottom: -8rem; }
    .AboutMe_image--right {
      margin-top: -8rem; }
  .AboutMe_textContainer {
    justify-content: center;
    align-items: center; }
  .AboutMe_title, .AboutMe_subtitle, .AboutMe_text {
    color: #ffffff; }
  .AboutMe_subtitle {
    margin-bottom: 3rem; }
  .AboutMe_text {
    max-width: 500px;
    text-align: center; }

.Projects {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0; }
  .Projects_list {
    margin: 1.5rem 0 0; }
  .Projects_card {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3); }
  .Projects_image {
    width: 100%; }
  .Projects_cardContent {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: .5rem; }
  .Projects_cardTitle {
    margin: .5rem 0;
    font-size: 1.3rem; }
  .Projects_cardText {
    margin: .5rem 0;
    font-size: 1rem;
    text-align: center; }

.Contact {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 8rem;
  background: #bd1b1b; }
  .Contact_row {
    justify-content: center;
    align-items: center; }
  .Contact_svg {
    width: 100%; }
    .Contact_svg .st0 {
      fill: #FFFFFF;
      stroke: #FFFFFF;
      stroke-width: 2;
      stroke-miterlimit: 10; }
  .Contact_form {
    flex-flow: column; }
  .Contact_inputContainer {
    padding: .5rem 0; }
  .Contact_input, .Contact_textarea {
    width: 100%;
    padding: .4rem .6rem;
    box-sizing: border-box;
    border: none;
    font-family: 'Judson';
    font-size: 1rem; }
  .Contact_buttonContainer {
    justify-content: flex-end;
    padding: 1rem 0; }
  .Contact_button {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    border-radius: .2rem;
    background: #E87A22;
    padding: .8rem 1.2rem;
    border: 0;
    outline: 0; }
