.Nav {
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;

  justify-content: center;

  width: 100%;

  &_menu {
    margin: 0;
    padding: 0;

    font-size: 0;
  }

  &_item {
    font-size: 1.25rem;
    color: $white;

    & + .Nav_item {
      margin-left: 2rem;
    }
  }

  &_link {
    position: relative;

    padding: 1rem 0;
    text-transform: uppercase;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &::after, &::before {
      content: '';
      display: block;

      position: absolute;
      top: 80%;

      height: 2px; width: 0;
      background-color: $white;

      transition: 200ms all ease;
    }

    &::after {
      left: 50%;
    }

    &::before {
      right: 50%;
    }

    &:hover::after, &:hover::before {
      width: 50%;
    }

  }
}
