$white: #ffffff;

$lightGrey: #fafafa;

$grey: #e4e4e4;

$redRedemption: #BD1B1B;
$redRedemption: rgb(189, 27, 27);
$redRedemptionTransparent: rgba(189, 27, 27, .6);

$pumpkinSkin: #CA4813;
$zest: #E87A22;

$darkGrey: #1d1d1d;
$octosis: #040603;
